/*  全局样式,会被自动引入到入口文件最前面。 */
p,
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* message组件样式修改 */
.ant-message-notice-content {
  height: 60px;
  padding: 19px 28px;
  color: #ffffff;
  font-size: 20px;
  line-height: 22px;
  background: #222222;
  border-radius: 6px;
}
